<header>
    <div class="container">
        <a href="#" class="logo">Selling Spot</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/shop-now">SHOP NOW</a>
                    <a href="#" routerLink="/collections">COLLECTIONS</a>
                    <a href="#" routerLink="/about">ABOUT US</a>
                    <a href="#" routerLink="/contact">CONTACT US</a>
                    <a href="#" routerLink="/log-in">LOG IN</a>
                    <a href="#" routerLink="/cart-page">CART</a>
                </li>
            </ul>
        </nav>
    </div>
</header>