ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    margin: 0.5 rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #ff6f00;
}
li a:hover{
    opacity: 90%;
    cursor: pointer;

}

